$primary: #222329; //rgb(112, 65, 206);
$secondary: #6a737d; //#858181; //#7da51d; //#361f7a; //#48515a;
$light: #6a737d;
$dark: #5e5f66;

$brand-grey: #888888;
$brand-light: #F7F7F7;
$brand-light-tint: #E6E6E6;
$brand-white: #FFFFFF;
$brand-accent: #FEBC62;
$brand-verified: #1dcaff;
$brand-danger: rgb(228, 23, 23);