<aside *ngIf="securityContext?.authenticated"
       [class.side-nav-closed]="!sidebarEnabled"
       [class.side-nav-open]="sidebarEnabled">
  <div style="    padding-top: 10px;
  padding-bottom: 10px;
  background-color: #f77604;">
    <a href="">
      <img width="40"
           class="d-block mx-auto"
           alt="Angular Logo"
           src="assets/logo_icon_inverse.png" />
    </a>
  </div>
  <div style="height: 74vh; overflow-y: scroll;">
    <h6 class="text-white mb-2 mx-auto mx-md-3 mt-3 text-center text-md-left side-nav-title d-none d-md-block">Compete
    </h6>
    <span class="d-none d-md-block"
          *ngFor="let item of buyerNavItems">
      <a class="nav-item p-md-3 p-0 py-3 pl-md-1"
         routerLinkActive="active"
         *ngIf="!item.isAdmin || (item.isAdmin && adminUser)"
         [href]="item.url">
        <fa-icon [icon]="item.icon"
                 class="ml-md-2 d-none d-md-inline-block"
                 [class.text-warning]="item.isAdmin"
                 style="width:16px"></fa-icon>
        <fa-icon [icon]="item.icon"
                 class="ml-md-2 text-center mx-auto d-block d-md-none"
                 [class.text-warning]="item.isAdmin"
                 style="width:16px"></fa-icon>
        <span class="d-md-inline-block d-none ml-2"
              [class.text-warning]="item.isAdmin">{{item.title}}</span>
        <span class="d-md-none d-block text-center"
              [class.text-warning]="item.isAdmin">{{item.title}}</span>
      </a>
    </span>
    <span>
      <hr style="border-color: #F7F7F7; margin-top: 0;opacity: 0.3;">
      <h6 class="text-white mb-2 mx-auto mx-md-3 mt-2 text-center text-md-left side-nav-title">Organise</h6>
      <app-loading-spinner *ngIf="paymentCheckLoading"
                           invertColours="true"></app-loading-spinner>
      <span *ngIf="!paymentCheckLoading && !isOrganiser">
        <a class="nav-item p-md-3 p-0 py-3 pl-md-1 text-center text-md-left"
           routerLinkActive="active"
           href="security/request-organiser">
          <fa-icon [icon]="checkboardIcon"
                   class="ml-md-2 d-none d-md-inline-block"
                   style="width:16px"></fa-icon>
          Organise Event
        </a>
      </span>
      <span *ngIf="!paymentCheckLoading && !!isOrganiser">
        <span *ngFor="let item of sellerNavItems">
          <a class="nav-item p-md-3 p-0 py-3 pl-md-1"
             routerLinkActive="active"
             *ngIf="account?.chargesEnabled || !item?.chargesRequired"
             [href]="item.url">
            <fa-icon [icon]="item.icon"
                     class="ml-md-2 d-none d-md-inline-block"
                     [class.text-warning]="item.isAdmin"
                     style="width:16px"></fa-icon>
            <fa-icon [icon]="item.icon"
                     class="ml-md-2 text-center mx-auto d-block d-md-none"
                     [class.text-warning]="item.isAdmin"
                     style="width:16px"></fa-icon>
            <span class="d-md-inline-block d-none ml-2"
                  [class.text-warning]="item.isAdmin">{{item.title}}</span>
            <span class="d-md-none d-block text-center"
                  [class.text-warning]="item.isAdmin">{{item.title}}</span>
          </a>
        </span>
      </span>
      <span *ngIf="!paymentCheckLoading && !!isOrganiser">
        <a class="nav-item p-md-3 p-0 py-3 pl-md-1"
           *ngIf="!account?.chargesEnabled"
           routerLinkActive="active"
           href="profile/become-seller">
          <fa-icon [icon]="sellIcon"
                   class="ml-md-2 d-none d-md-inline-block"
                   style="width:16px"></fa-icon>
          <fa-icon [icon]="sellIcon"
                   class="ml-md-2 text-center mx-auto d-block d-md-none"
                   style="width:16px"></fa-icon>
          <span class="d-md-inline-block d-none ml-2">Start Earning</span>
          <span class="d-md-none d-block text-center">Start Earning</span>
        </a>
      </span>
    </span>
    <span class="d-none d-md-block">
      <hr style="border-color: #F7F7F7; margin-top: 0;opacity: 0.3;">
      <h6 class="text-white mb-2 mx-auto mx-md-3 mt-2 text-center text-md-left side-nav-title">Other</h6>
      <span *ngFor="let item of otherNavItems">
        <a class="nav-item p-md-3 p-0 py-3 pl-md-1"
           routerLinkActive="active"
           *ngIf="!item.isAdmin || (item.isAdmin && adminUser)"
           [href]="item.url">
          <fa-icon [icon]="item.icon"
                   class="ml-md-2 d-none d-md-inline-block"
                   [class.text-warning]="item.isAdmin"
                   style="width:16px"></fa-icon>
          <fa-icon [icon]="item.icon"
                   class="ml-md-2 text-center mx-auto d-block d-md-none"
                   [class.text-warning]="item.isAdmin"
                   style="width:16px"></fa-icon>
          <span class="d-md-inline-block d-none ml-2"
                [class.text-warning]="item.isAdmin">{{item.title}}</span>
          <span class="d-md-none d-block text-center"
                [class.text-warning]="item.isAdmin">{{item.title}}</span>
        </a>
      </span>
    </span>
    <hr *ngIf="adminUser"
        style="border-color: #F7F7F7; margin-top: 0;opacity: 0.3;">
    <h6 *ngIf="adminUser"
        class="text-warning mb-2 mx-auto mx-md-3 mt-2 text-center text-md-left">Admin</h6>
    <span *ngFor="let item of adminNavItems">
      <a class="nav-item p-md-3 p-0 py-3 pl-md-1"
         routerLinkActive="active"
         *ngIf="!item.isAdmin || (item.isAdmin && adminUser)"
         [href]="item.url">
        <fa-icon [icon]="item.icon"
                 class="ml-md-2 d-none d-md-inline-block"
                 [class.text-warning]="item.isAdmin"
                 style="width:16px"></fa-icon>
        <fa-icon [icon]="item.icon"
                 class="ml-md-2 text-center mx-auto d-block d-md-none"
                 [class.text-warning]="item.isAdmin"
                 style="width:16px"></fa-icon>
        <span class="d-md-inline-block d-none ml-2"
              [class.text-warning]="item.isAdmin">{{item.title}}</span>
        <span class="d-md-none d-block text-center"
              [class.text-warning]="item.isAdmin">{{item.title}}</span>
      </a>
    </span>
  </div>
</aside>
<aside *ngIf="securityContext?.authenticated">
  <button class="toggle-button btn btn-primary btn-submit"
          (click)="toggleSidebar()">
    <fa-icon *ngIf="!sidebarEnabled && securityContext?.authenticated"
             [icon]="toggleIconOn"
             class="ml-md-2"></fa-icon>
    <fa-icon *ngIf="sidebarEnabled  && securityContext?.authenticated"
             [icon]="toggleIconOff"
             class="ml-md-2"></fa-icon>
  </button>
</aside>