@import '~src/styles/_variables';
@import '_bootstrap.mixins';

.side-nav-closed {
  position: fixed;
  left: 0;
  bottom: 0;
  background: $secondary !important;
  width: 170px;
  transition: all .3s ease-in-out;
  top: 0px;

  @include media-breakpoint-up(lg) {
    top: 0px;
  }

  @include media-breakpoint-down(sm) {
    display: none;
  }

  .nav-item {
    padding: 20px 30px;
    color: $brand-white;
    display: block;
    width: 100%;
    position: relative;

    &:hover {
      background-color: lighten($secondary, 12%);
      text-decoration: none;
    }

    &.active {
      background-color: lighten($secondary, 10%);

      &::before {
        content: '';
        height: 100%;
        width: 5px;
        background-color: $secondary;
        position: absolute;
        left: 0;
        top: 0;
      }
    }
  }
}

.side-nav-open {
  position: fixed;
  left: 0;
  bottom: 0;
  background: $secondary !important;
  width: 170px;
  transition: all .3s ease-in-out;
  top: 0px;

  @include media-breakpoint-up(lg) {
    top: 0px;
  }

  @include media-breakpoint-down(sm) {
    width: 70px;
    font-size: 13px;
  }

  .nav-item {
    padding: 20px 30px;
    color: $brand-white;
    display: block;
    width: 100%;
    position: relative;

    &:hover {
      background-color: lighten($secondary, 12%);
      text-decoration: none;
    }

    &.active {
      background-color: lighten($secondary, 10%);

      &::before {
        content: '';
        height: 100%;
        width: 5px;
        background-color: $secondary;
        position: absolute;
        left: 0;
        top: 0;
      }
    }
  }
}

.toggle-button {
  display:block;
  position: fixed;
  bottom: 65px;
  left: 5px;
  width: 60px;

  
  @include media-breakpoint-up(md) {
    display: none;
  }
}

.side-nav-title {
  @include media-breakpoint-down(md) {
    font-size: 14px;
  }
}