@import '~src/styles/_variables';
@import '_bootstrap.mixins';

.user-profile-page {

  .mobile-margin-blog {
    @include media-breakpoint-down(sm) {
      margin-top: 0.6rem;
      margin-bottom: 0.4rem;
     }
  }

  .blog-icon {
    position: relative;
    height: 30px;
    border-radius: 100px;
    bottom: -8px;
  }

  .icon-button {
    position: relative;
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 100px;
    margin: 0 auto;
    bottom: -8px;

    &:hover {
      opacity: .9;
    }

    .icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      color: white;
      height: 1.3em;
    }
  }

  .profile-photo {
    min-height: 255px;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .banner {
    height: 200px;
    background-size: cover;

    @include media-breakpoint-down(sm) {
      height: 120px;
     }
  }

  .container-summary {
    padding-top: 90px;

    @include media-breakpoint-up(md) {
      padding-top: 135px;
     }

    .profile-picture {
      width: 300px;
      height: 300px;
      border-radius: 300px;
      background-color: white;
      position: absolute;
      left: 50%;
      top: 0;
      transform: translateX(-50%) translateY(-60%);

      @include media-breakpoint-down(sm) {
        width: 200px;
        height: 200px;
       }

      .uploader-image,
      .uploader-container {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        width: 90%;
        height: 90%;
        border-radius: 300px;
        overflow: hidden;
      }

      .uploader-image {
        background-position: center;
        background-size: cover;
      }

      .uploader {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 50px;
        text-align: center;
        color: white;
        background-color: rgba(0,0,0,.5);
        padding-top: 12px;
        cursor: pointer;
      }
    }

    .name {
      font-size: 2em;
      text-align: center;
    }
    .stats {
      margin-bottom: 0;
    }
  }
 
  .description {
    margin-top: 10px;
    color: $brand-grey;
  }

}

app-verified-user-indicator {
  position: relative;
  top: -3px;
}

.user-profile-refer {
  border-radius: 200px;
  width: 30px;
  height: 30px;
  padding: 1px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.username-text-refer {
  overflow: hidden;
  margin-top: 6px;
  margin-left: 4px;

  @include media-breakpoint-down(sm) {
      font-size: 10px;
     }
}