<app-loading-spinner *ngIf="initialPageLoading"></app-loading-spinner>
<div class="alert alert-warning mt-2 mb-0 w-100"
     style="border-radius: 8px;"
     *ngIf="!editor?.isEmailVerified">
  <h3 class="text-center"> Verify Account </h3>
  <p class="text-center"
     *ngIf="!emailSending && emailSent"> Verification Email Sent. </p>
  <p class="text-center"
     *ngIf="!emailSending && emailSent"> Once you open the email and verify your account, please refresh the page.
  </p>
  <p *ngIf="!emailSending && !emailSent"
     class="text-center">You still need to verify your account using the email you will have received when you
    initially signed up.</p>
  <p *ngIf="!emailSending && !emailSent"
     class="text-center">If you can't find this email then click the button below and we'll resend it.</p>
  <p *ngIf="!emailSending && !emailSent"
     class="text-center">Make sure to double check your spam folder if you still can't find it.</p>
  <button *ngIf="!emailSending && !emailSent"
          type="button"
          class="mx-auto d-block btn btn-primary"
          (click)="sendVerifyEmail()">Resend Verification Email</button>

  <app-loading-spinner *ngIf="emailSending"></app-loading-spinner>
</div>
<div class="pt-2 pt-md-2"
     *ngIf="!initialPageLoading">
  <div class="card"
       style="border-radius: 8px;">
    <form class="mx-3 mt-3 mb-3">
      <div class="row">
        <div class="form-group col-12 col-lg-6">
          <label for="name">
            <b>Name</b>
          </label>
          <input type="text"
                 name="name"
                 class="form-control"
                 id="name"
                 [(ngModel)]="editor.name">
        </div>
        <!--<div class="form-group col-12">
            <app-file-uploader *ngIf="!loading"
                               name="Profile Image"
                               image="true"
                               [existingFiles]="existingProfileImage"
                               (uploadsChanged)="updateProfileImage($event)"
                               (existingFilesChanged)="updateExistingProfileImage($event)"></app-file-uploader>
          </div>-->
        <div *ngIf="uploadError"
             class="alert alert-danger mt-2"
             role="alert">
          <p>Error Uploading Image. There is currently a known issue with iPhone 11 Max.</p>
          <p>If you are using this device please try uploading your photo on a different device.</p>
        </div>
      </div>
      <div>
        <button type="button"
                class="btn btn-primary d-none d-md-inline"
                [disabled]="loading"
                (click)="update()">Update Account</button>
        <button type="button"
                class="btn btn-primary d-md-none w-100"
                [disabled]="loading"
                (click)="update()">Update Account</button>
        <button type="button"
                class="btn btn-link text-center w-100 d-md-none mt-2"
                [disabled]="loading"
                (click)="logout()">Log Out Of Account</button>
        <button type="button"
                class="btn btn-link float-right d-none d-md-inline"
                [disabled]="loading"
                (click)="logout()">Log Out Of Account</button>
      </div>

      <app-loading-spinner *ngIf="loading"></app-loading-spinner>
      <div *ngIf="!validationResult?.valid"
           class="alert alert-danger mt-2"
           role="alert">
        <app-validation-summary [errors]="validationResult?.errors"> </app-validation-summary>
      </div>
      <div *ngIf="successfullyUpdated"
           class="alert alert-success mt-2 mb-0"
           role="alert">
        Successfully Updated.
      </div>
    </form>
  </div>