<div class="container py-4">
  <div class="row">
    <div class="col-sm-10 offset-sm-1">
      <button class="btn btn-primary mb-2" (click)="back()">Back</button>
      <h1>Terms and Conditions</h1>
      <h3>Thank you for using ECompete!</h3>
      <p class="mt-4">
        These Terms of Service ("Terms") govern your access to and use of the ECompete website, apps, APIs, and widgets
        (“ECompete”
        or the “Service”). Please read these Terms carefully, and contact us if you have any questions. By accessing or
        using
        ECompete, you agree to be bound by these Terms and our Privacy Policy. Any reference to ECompete in the legal
        sense
        also refers to Andreassen Ltd as this is the legal entity which ECompete operates on behalf of.
      </p>
      <p>
        <b>
          Please read these terms and conditions carefully. Your acceptance of these terms is deemed to occur upon your
          first use of
          our Website. If you do not accept and agree with these terms and conditions, you must stop using Our Site
          immediately.
        </b>
      </p>

      <h3 class="mt-5">1. What we provide</h3>
      <ol class="clauses">
        ECompete helps organisers run both eSports and grassroot sports events. From time to time ECompete will also run
        our own 'official' events which be marked with an 'official tag'.
        <br>
      </ol>

      <h3 class="mt-5">2. Use of ECompete</h3>
      <br>
      <ol class="clauses">
        <h4> a. Can you use ECompete? </h4>
        <br> You may use ECompete only if you can legally form a binding contract with ECompete (legally Andreassen
        Ltd), and
        only in compliance with these Terms and all applicable laws. When you create your ECompete account, you must
        provide
        us with accurate and complete information. Any use or access by anyone under the age of 16 is not allowed. Using
        ECompete may include downloading software to your computer, phone, tablet, or other device. You agree that we
        may
        automatically update that software, and these Terms will apply to any updates.
        <br>
        <br>
        <h4> b. Our promise to you </h4>
        <br> Subject to these Terms and our policies, we grant you a limited, non-exclusive, non-transferable, and
        revocable
        license to use our Service.
        <br>
      </ol>

      <h3 class="mt-5">2. Your content</h3>
      <br>
      <ol class="clauses">
        <h4> a. Posting content </h4>
        <br> ECompete allows you to participate in, host, and contribute to online events, as well as post messages and tournament information. Anything that you
        post
        or otherwise make available on ECompete is referred to as "User Content." You retain all rights in, and are
        solely
        responsible for, the User Content you post to ECompete.
        <br>
        <br>
        <h4> b. How we (ECompete) and other users can use your ‘User Content’ </h4>
        <br> You grant ECompete and our users a non-exclusive, royalty-free, transferable, sublicensable, worldwide
        license to
        use, store, display, save, modify, and distribute your User Content on ECompete solely for the purposes of
        operating,
        developing, providing, and using ECompete. Nothing in these Terms restricts other legal rights ECompete may have
        to User Content. Furthermore, we reserve the right to remove or modify User Content, or change the way it’s used
        in ECompete, for any reason. This includes User Content that we believe violates these Terms, or any other
        policies.
        <br>
        <br>
        <h4> c. How long we keep your content </h4>
        <br> Following termination or deactivation of your account, or if you remove any User Content from ECompete, we
        may keep
        your User Content for a reasonable period of time for backup, archival, or audit purposes. ECompete and its
        users
        may retain and continue to use, store, display, reproduce, modify, and distribute any of your User Content that
        other
        users have stored or shared on ECompete.
        <br>
        <br>
        <h4> d. Feedback you provide </h4>
        <br> We love hearing from our users, and are always interested in learning about how we can make ECompete even
        better.
        If you choose to submit comments, suggestions or feedback, you agree that we are free to use them without any
        restriction
        or compensation to you. By accepting your submission, ECompete doesn’t waive any rights to use similar or
        related
        feedback previously known to ECompete, or developed by its employees, or obtained from sources other than you.
        <br>
      </ol>

      <h3 class="mt-5">4. Copyright policy</h3>
      <br>
      <ol class="clauses">
        ECompete has adopted and implemented the ECompete Copyright Policy in accordance with the Digital Millennium
        Copyright Act
        and other applicable copyright laws.
        <br>
      </ol>

      <h3 class="mt-5">5. Security</h3>
      <br>
      <ol class="clauses">
        We try our best to keep the site as secure as possible but while we work to protect the security of your content
        and account,
        ECompete can’t guarantee that unauthorized third parties won’t be able to defeat our security measures. We ask
        that
        you keep your password secure. Please notify us immediately of any compromise or unauthorized use of your
        account.
        <br>
      </ol>

      <h3 class="mt-5">6. Third party links, sites, and services</h3>
      <br>
      <ol class="clauses">
        ECompete may contain links to third party websites, advertisers, services, special offers, or other events or
        activities
        that are not owned or controlled by ECompete. We don’t endorse or assume any responsibility for any such third
        party
        sites, information, materials, products, or services. If you access any third party website, service, or content
        from ECompete, you do so at your own risk and you agree that ECompete has no liability arising from your use of
        or
        access to any third party website, service, or content.
        <br>
      </ol>

      <h3 class="mt-5">7. Termination</h3>
      <br>
      <ol class="clauses">
        ECompete may terminate or suspend your right to access or use ECompete for any reason on appropriate notice. We
        may terminate
        or suspend your access immediately and without notice if we have (what we deem as) a good reason.
        <br>
      </ol>

      <h3 class="mt-5">8. Disclaimers</h3>
      <br>
      <ol class="clauses">
        Our Service and all content on ECompete is provided on an "as is" basis without warranty of any kind, whether
        express or
        implied. ECompete specifically disclaims any and all warranties and conditions of merchantability, fitness for a
        particular purpose, and non-infringement, and any warranties arising out of course of dealing or usage of trade.
        ECompete takes no responsibility and assumes no liability for any User Content that you or any other person or
        third
        party posts or sends using our Service. You understand and agree that you may be exposed to User Content that’s
        inaccurate,
        objectionable, inappropriate for children, or otherwise unsuited to your purpose.
        <br>
      </ol>

      <h3 class="mt-5">9. Limitation of liability</h3>
      <br>
      <ol class="clauses">
        To the maximum extent permitted by law, ECompete shall not be liable for any indirect, incidental, special,
        Consequential
        or punitive damages, or any loss of profits/revenues, whether incurred directly or indirectly, or any loss of
        data,
        use, goodwill or other intangible losses result from (1) your access to or use of or inability to access or use
        the
        service; (2) Any conduct or content of any third party on the service, including without limitation, any
        defamatory,
        offensive or illegal conduct of other users or third parties; or (3) unauthorized access, use or alteration of
        your
        transmissions or content. In no event shall ECompete’s aggregate liability for all claims relating to the
        service
        exceed £100 GBP.
        <br> ECompete isn’t liable for damages that result from a non-material breach of any other applicable duty of
        care. This
        limitation of liability won’t apply to any statutory liability that cannot be limited, to liability for death or
        personal injury caused by our negligence or willful misconduct, or if and to exclude our responsibility for
        something
        we have specifically promised to you.
        <br>
      </ol>

      <h3 class="mt-5">10. Disputes</h3>
      <br>
      <ol class="clauses">
        For any dispute you have with ECompete, you agree to first contact us and try to resolve the dispute with us
        informally.
        If we need to contact you, we will do so at the email address on your ECompete account. If ECompete hasn’t been
        able
        to resolve the dispute with you informally, we each agree to resolve any claim, dispute, or controversy
        (excluding
        claims for injunctive or other equitable relief) arising out of or in connection with or relating to these Terms
        through binding arbitration or (for qualifying claims) in small claims court. To the extent any claim, dispute
        or
        controversy regarding ECompete or our Service isn’t arbitrable under applicable laws or otherwise: you and
        ECompete
        both agree that any claim or dispute regarding ECompete will be resolved exclusively in accordance with Section
        12
        of these Terms.
        <br>
      </ol>

      <h3 class="mt-5">11. Governing law and jurisdiction</h3>
      <br>
      <ol class="clauses">
        These Terms shall be governed by the laws of the United Kingdom. If you are not a consumer in the UK, the
        exclusive place
        of jurisdiction for all disputes arising from or in connection with this agreement is London, United Kingdom and
        our dispute will be determined under UK law.
        <br>
      </ol>


      <h3 class="mt-5">12. General terms</h3>
      <br>
      <ol class="clauses">
        <h4> a. Notification procedures and changes to these Terms </h4>
        <br> We reserve the right to determine the form and means of providing notifications to you, and you agree to
        receive
        legal notices electronically if that’s what we decide. We may revise these Terms from time to time and the most
        current
        version will always be posted on our website. If a revision, in our discretion, is material, we’ll notify you.
        By
        continuing to access or use ECompete after revisions become effective, you agree to be bound by the new Terms.
        If
        you don’t agree to the new terms, please stop using ECompete.
        <br>
        <br>
        <h4> b. Assignment </h4>
        <br> These Terms, and any rights and licenses granted hereunder, may not be transferred or assigned by you, but
        may be
        assigned by ECompete without restriction. Any attempted transfer or assignment in violation hereof shall be null
        and void.
        <br>
        <br>
        <h4> c. Entire agreement/severability </h4>
        <br> These Terms, together with the Privacy Policy and any amendments and any additional agreements you may
        enter into
        with ECompete shall constitute the entire agreement between you and ECompete concerning the use of any ECompete
        website,
        app or other platform. If any provision of these Terms is deemed invalid, then that provision will be limited or
        eliminated to the minimum extent necessary, and the remaining provisions of these Terms will remain in full
        force
        and effect.
        <br>
        <br>
        <h4> d. No waiver </h4>
        <br> No waiver of any term of these Terms shall be deemed a further or continuing waiver of such term or any
        other term,
        and ECompete's failure to assert any right or provision under these Terms shall not constitute a waiver of such
        right
        or provision.
        <br>
      </ol>

      <h3 class="mt-5">13. Events</h3>
      <ol class="clauses">
        <br> 13.1 Competitions may be entered via the website www.ecompete.io. Multiple competitions may
        be operated at the same time and each competition will have a specific prize.
        <br><br>
        13.2 Availability and pricing of Competitions is at the discretion of www.ecompete.io and will be
        specified at the point of sale on the website.
        <br><br>
        13.3 In order to enter a Competition, you will need to register an account with us online. When registering an
        account online you will be asked to provide an email address and personal details such as date of birth, first name and last name.
        <br><br>
        13.4 ECompete reserves the right to refuse or disqualify any incomplete entries if it has
        reasonable grounds for believing that an entrant has contravened any of these terms and conditions.
        <br><br>
        13.5 To the extent permitted by applicable law, all entries become our property and will not be returned.
        <br><br>
        13.6 All entrants must create an account prior to entering, and supply an email address to proceed in the competition.
            </ol>
      <p class="mt-5">These terms and conditions are up-to-date as of: 14th March 2021</p>
    </div>
  </div>
</div>