@import '~src/styles/_variables';
@import '_bootstrap.mixins';

@media (max-width: 767.98px) {
    .mobile-login {
        margin-left: 1rem;
        margin-right: 1rem;
        margin-top: 16px;
    }
 }

 @media (min-width: 768px) {
    .mobile-login {
        width: 400px;
        margin-top: 42px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
  }

  .user-profile {
    border-radius: 200px;
    width: 30px;
    height: 30px;
    padding: 1px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.username-text {
    overflow: hidden;
    margin-top: 6px;
    margin-left: 4px;

    @include media-breakpoint-down(sm) {
        font-size: 10px;
       }
}