<div class="pt-4 pt-md-4"
     style="margin-bottom: 400px">
  <img src="assets/logo-white.png"
       class="prboard-logo-img-medium mx-auto d-block mt-1 mt-sm-3 mb-4 mb-sm-1">
  <div class="card mobile-login px-2 pt-2 pb-1"
       style="border-radius: 8px;">
    <form class="m-3">
      <div class="form-group">
        <input type="email"
               name="email"
               placeholder="Email"
               class="form-control"
               id="emailAddress"
               [(ngModel)]="editor.email">
      </div>
      <div class="form-group">
        <input type="password"
               name="password"
               placeholder="Password"
               class="form-control"
               id="password"
               [(ngModel)]="editor.password">
      </div>
      <div class="form-group">
        <input type="password"
               name="passwordConfirm"
               class="form-control"
               placeholder="Confirm Password"
               id="passwordConfirm"
               [(ngModel)]="editor.passwordConfirm">
      </div>
      <div class="form-group col-12 pl-1">
        <div class="form-check">
          <input type="checkbox"
                 class="form-check-input"
                 id="optedIntoMarketingEmails"
                 name="optedIntoMarketingEmails"
                 [ngModel]="editor.optedIntoMarketingEmails"
                 (change)="onMarketingOptInChange($event)">
          <label class="form-check-label"
                 for="optedIntoMarketingEmails">
            <b>Would you like to hear about upcoming events and other bits you might be interested in?</b>
          </label>
        </div>
      </div>
      <div class="form-group col-12 pl-1">
        <div class="form-check">
          <input type="checkbox"
                 class="form-check-input"
                 id="acceptToc"
                 name="acceptToc"
                 (change)="acceptToc($event)">
          <label class="form-check-label"
                 for="acceptToc">
            <b>Do you agree to our
              <a href="legal/terms">terms and conditions</a>?</b>
          </label>
        </div>
      </div>
      <div>
        <button type="button"
                class="w-100 btn btn-primary"
                [disabled]="loading || !tocAccepted"
                (click)="register()">Register</button>
      </div>
      <button type="button"
              class="btn btn-link pt-3 login-link w-100"
              [disabled]="loading"
              (click)="routeLogin()">Already have an account?
      </button>
      <app-loading-spinner *ngIf="loading"></app-loading-spinner>
      <div *ngIf="!validationResult?.valid"
           class="alert alert-danger mt-2"
           role="alert">
        <app-validation-summary [errors]="validationResult?.errors"> </app-validation-summary>
      </div>
    </form>
  </div>
</div>