<div class="row">
  <div class="col-12 col-md-4 mb-3">
    <div class="card">
      <div class="card-header">
        <h5 class="mb-0 text-center">$4.99/mo
        </h5>
      </div>
      <div class="card-body text-center">
        <h5 class="card-title">Starter Plan</h5>
        <p class="card-text" style="white-space: nowrap;">Up to 5 Team Members ✔️</p>
        <p class="card-text" >Automated Reviewer Selection ✔️</p>
        <p class="card-text">Enterprise Repos ✔️</p>
        <a href="#"
           class="btn btn-primary w-100 mt-2" id="checkout">Subscribe</a>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-4 mb-3">
    <div class="card">
      <div class="card-header">
        <h5 class="mb-0 text-center">$4.99/mo
        </h5>
        <span class="badge badge-secondary text-white text-center mx-auto d-block mt-2" style="width: 100px;">Recommended</span>
      </div>
      <div class="card-body text-center">
        <h5 class="card-title">Starter Plan</h5>
        <p class="card-text">Up to 5 Team Members ✔️</p>
        <p class="card-text">Automated Reviewer Selection ✔️</p>
        <p class="card-text">Enterprise Repos ✔️</p>
        <a href="#"
           class="btn btn-primary w-100 mt-2">Subscribe</a>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-4">
    <div class="card">
      <div class="card-header">
        <h5 class="mb-0 text-center">$4.99/mo
        </h5>
      </div>
      <div class="card-body text-center">
        <h5 class="card-title">Starter Plan</h5>
        <p class="card-text">Up to 5 Team Members ✔️</p>
        <p class="card-text">Automated Reviewer Selection ✔️</p>
        <p class="card-text">Enterprise Repos ✔️</p>
        <a href="#"
           class="btn btn-primary w-100 mt-2">Subscribe</a>
      </div>
    </div>
  </div>
</div>