<div class="jumbotron m-0 m-xl-4 text-center bg-white">
  <app-loading-spinner *ngIf="paymentCheckLoading || userLoading"></app-loading-spinner>
  <span *ngIf="!paymentCheckLoading && !userLoading && !account?.chargesEnabled && !emailVerified">
    <h1 class="">Run Paid Events</h1>
    <p class="lead">We need to collect a bit more information before you can run paid events.</p>
    <hr class="my-4">

    <div class="alert alert-warning mt-2 mb-0 w-100">
      <h3 class="text-center"> Verify Account </h3>
      <p class="text-center"
         *ngIf="!emailSending && emailSent"> Verification Email Sent. </p>
      <p *ngIf="!emailSending && !emailSent"
         class="text-center">The first thing you need to do is verify your account using the email you will have received when you initially signed up.</p>
      <p *ngIf="!emailSending && !emailSent"
         class="text-center">If you can't find this email then click the button below and we'll resend it.</p>
      <p class="text-center">Make sure to double check your spam folder if you still can't find it.</p>
      <button *ngIf="!emailSending && !emailSent"
              type="button"
              class="mx-auto d-block btn btn-primary"
              (click)="sendVerifyEmail()">Resend Verification Email</button>

      <app-loading-spinner *ngIf="emailSending"></app-loading-spinner>
    </div>
  </span>
  <span *ngIf="!paymentCheckLoading && !userLoading && !account?.chargesEnabled && emailVerified">
    <h1 class="">Run Paid Events</h1>
    <p class="lead">At ECompete.io we have partnered with
      <a href="https://stripe.com/customers"
         target="_blank">Stripe</a> to make running paid events as straight forward as possible for both you and ourselves.</p>
    <hr class="my-4">
    <p> By clicking the button below you will be redirected to Stripe's secure onboarding flow where we'll collect a few more details. It should only take a few minutes.</p>
    <p> Once you complete the onboarding flow you will be ready to start running paid events.</p>
    <form class="m-3">
      <button type="button"
              class="mx-auto d-block btn btn-primary"
              (click)="paymentOnboarding()"
              [disabled]="paymentLinkLoading">Stripe Onboarding</button>
      <app-loading-spinner *ngIf="paymentLinkLoading"></app-loading-spinner>
    </form>
  </span>
  <span *ngIf="!paymentCheckLoading && !userLoading && account?.chargesEnabled && emailVerified">
    <h1 class="">Ready To Go</h1>
    <p class="lead">Your onboarding is complete and you are now ready to start running paid events.</p>
    <hr class="my-4">
    <form class="m-3">
      <button type="button"
              class="mx-auto d-block btn btn-primary"
              (click)="tournaments()">Start Now</button>
    </form>
  </span>
</div>