<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<!-- Toolbar -->

<!-- Creates a layout with a left-positioned sidenav and explicit content. -->
<main class="bg-primary prboard-main">
        <div style="min-height:70vh;">
                <div class="jumbotron m-0 mx-auto d-block bg-primary"
                     style="max-width: 1300px;">
                        <div class="mb-4" *ngIf="!siteMode && !!securityContext?.authenticated">
                                <a href="/">
                                        <img src="assets/logo-white.png"
                                             class="prboard-logo-img">
                                </a>
                                <a href="/profile/edit">
                                        <p class="float-right text-white prboard-username-top">
                                                {{securityContext?.user?.username}}</p>
                                </a>
                                <button style="height: 43.05px;"
                                        class="prboard-btn float-right d-none d-sm-block" (click)="routeRepo()">Repositories</button>
                                <button style="height: 43.05px;"
                                        class="prboard-btn float-right d-none d-sm-block mr-2" (click)="routeHome()">Pull Requests</button>
                                <button style="height: 43.05px;"
                                        class="prboard-btn float-right d-none d-sm-block mr-2" (click)="routeConnect()">Git Accounts</button>
                        </div>
                        <button style="height: 43.05px;" *ngIf="siteMode!='hideBanner'"
                                class="prboard-btn d-inline d-sm-none">Git Accounts</button>
                        <button style="height: 43.05px;" *ngIf="siteMode!='hideBanner'"
                                class="prboard-btn d-inline d-sm-none">Pull Requests</button>
                        <button style="height: 43.05px;" *ngIf="siteMode!='hideBanner'"
                                class="prboard-btn d-inline d-sm-none">Repositories</button>
                        <div class="my-4"></div>
                        <router-outlet></router-outlet>
                        </div>
                </div>
</main>

<!--<div class="footer-tool"
     style="z-index: 10;">
        <p>Coming Soon: Bring your match day subs online with <a style="color: orange"
                   href="https://match-day.ecompete.io"
                   target="_blank">ECompete Match Day!</a></p>
</div>-->




<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->