<div class="pt-4 pt-md-4" style="margin-bottom: 400px">
  <img src="assets/logo-white.png"
  class="prboard-logo-img-medium mx-auto d-block mt-1 mt-sm-3 mb-4 mb-sm-1">
  <div class="card mobile-login px-2 pt-2 pb-1" style="border-radius: 8px;">
    <form class="m-3">
      <div class="form-group">
        <input type="email"
               name="email"
               placeholder="Email"
               class="form-control"
               id="emailAddress"
               [(ngModel)]="editor.email">
      </div>
      <div>
        <button type="button"
                class="w-100 btn btn-primary"
                [disabled]="loading"
                (click)="submit()">Submit</button>
        <button type="button"
                class="btn btn-link pt-3 login-link w-100"
                [disabled]="loading"
                (click)="routeLogin()">Remembered Password?</button>
      </div>
      <app-loading-spinner *ngIf="loading"></app-loading-spinner>
      <div *ngIf="!validationResult?.valid && failed && !loading"
           class="alert alert-danger mt-2"
           role="alert">
        <app-validation-summary [errors]="validationResult?.errors"> </app-validation-summary>
      </div>
      <div *ngIf="succeeded && !loading"
           class="alert alert-success mt-1"
           role="alert">
        If an account exists for this email then an email will have now been sent!
      </div>
    </form>
  </div>
</div>