<div class="pt-4 pt-md-4" style="margin-bottom: 400px">
  <div class="card mobile-login">
    <div class="card-header text-center">
      <h2 class="mt-1">Forgotten Password</h2>
    </div>
    <form class="m-3">
      <div class="form-group">
        <label for="emailAddress" class="required-star"><b>Email Address</b></label>
        <input type="email"
               name="email"
               class="form-control"
               id="emailAddress"
               [(ngModel)]="editor.email">
      </div>
      <div>
        <button type="button"
                class="w-100 btn btn-primary"
                [disabled]="loading"
                (click)="submit()">Submit</button>
        <button type="button"
                class="btn btn-link pt-3"
                [disabled]="loading"
                (click)="routeLogin()">Remembered Password?</button>
      </div>
      <app-loading-spinner *ngIf="loading"></app-loading-spinner>
      <div *ngIf="!validationResult?.valid && failed && !loading"
           class="alert alert-danger mt-2"
           role="alert">
        <app-validation-summary [errors]="validationResult?.errors"> </app-validation-summary>
      </div>
      <div *ngIf="succeeded && !loading"
           class="alert alert-success mt-1"
           role="alert">
        If an account exists for this email then an email will have now been sent!
      </div>
    </form>
  </div>
</div>