<div class="pt-4 pt-md-4" style="margin-bottom: 400px">
  <div class="card mobile-login">
    <div class="card-header text-center">
      <h2 class="mt-1">Login</h2>
    </div>
    <div *ngIf="newPassword"
         class="alert alert-success mt-3 mx-3"
         role="alert">
      Password successfully reset.
    </div>
    <form class="m-3">
      <div class="form-group">
        <label for="emailAddress"
               class="required-star">
          <b>Email Address</b>
        </label>
        <input type="email"
               name="email"
               class="form-control"
               id="emailAddress"
               [(ngModel)]="editor.email">
      </div>
      <div class="form-group">
        <label for="password"
               class="required-star">
          <b>Password</b>
        </label>
        <input type="password"
               name="password"
               class="form-control"
               id="password"
               [(ngModel)]="editor.password">
      </div>
      <div>
        <button type="button"
                class="w-100 btn btn-primary"
                [disabled]="loading"
                (click)="login()">Login</button>
        <button type="button"
                class="btn btn-link pt-3"
                [disabled]="loading"
                (click)="routeForgottenPassword()">Forgotten password?</button>
        <button type="button"
                class="btn btn-link pt-3 text-right"
                (click)="routeRegister()"
                [disabled]="loading">Don't have an account?
        </button>
      </div>
      <app-loading-spinner *ngIf="loading"></app-loading-spinner>
      <div *ngIf="failed && !loading"
           class="alert alert-danger mt-1"
           role="alert">
        Login Attempt Failed.
      </div>
    </form>
  </div>
</div>