<div class="pt-4 pt-md-4"
     style="margin-bottom: 400px">
  <img src="assets/logo-white.png"
       class="prboard-logo-img-medium mx-auto d-block mt-1 mt-sm-3 mb-4 mb-sm-1">
  <div class="card mobile-login px-2 pt-2 pb-1"
       style="border-radius: 8px;">
    <div *ngIf="newPassword"
         class="alert alert-success mt-3 mx-3"
         role="alert">
      Password successfully reset.
    </div>
    <form class="mt-3 mx-3 mb-2">
      <div class="form-group">
        <input type="email"
               name="email"
               placeholder="Email"
               class="form-control"
               id="emailAddress"
               [(ngModel)]="editor.email">
      </div>
      <div class="form-group">
        <input type="password"
               name="password"
               class="form-control"
               id="password"
               placeholder="Password"
               [(ngModel)]="editor.password">
      </div>
      <div>
        <button type="button"
                class="w-100 btn btn-primary"
                [disabled]="loading"
                (click)="login()">Log In</button>
        <button type="button"
                class="w-100 btn btn-secondary mt-2"
                [disabled]="loading"><img src="assets/git_sources/github-light.png"
                class="mr-2" style="width: 23px;
                margin-top: -4px;">Log In with GitHub</button>
        <button type="button"
                class="btn btn-link pt-3 login-link text-left"
                [disabled]="loading"
                (click)="routeForgottenPassword()">Forgotten password?</button>
        <button type="button"
                class="btn btn-link pt-1 pt-sm-3 login-link text-right"
                (click)="routeRegister()"
                [disabled]="loading">Don't have an account?
        </button>
      </div>
      <app-loading-spinner *ngIf="loading"></app-loading-spinner>
      <div *ngIf="failed && !loading"
           class="alert alert-danger mt-1"
           role="alert">
        Login Attempt Failed.
      </div>
    </form>
  </div>
</div>