<div class="card mx-auto d-block"
     [style]="showBottom || status ? 'padding-bottom: 12px;' : 'padding-bottom: 30px;'">
     <span class="badge badge-warning" *ngIf="officialEvent" style="position: absolute;top: 2px;right: 2px;">Official</span>
     <div class="card-header" style="background-color: #f9f9f9; text-align: center;">
        <p class="header-title" [title]="title"><b>{{title}}</b></p>
        <p class="mb-0" style="font-size: 12px">{{description}}</p>
      </div>
  <div class="image-container"
       style="background-position: center; background-repeat: no-repeat;"
       [style.background-size]="!!pictureUrl ? 'contain' : 'cover'"
       [style.background-image]="!!pictureUrl ? 'url(' + pictureUrl + ')' : 'url(assets/logo_icon_grey_spaced.png)'"
       [style.height]="height + 'px'">
    <span class="helper"></span>
    <hr class="mt-0 mb-2">
    <div class="card-body pt-0 px-3 pb-3">
      <div class="row" *ngIf="!!info1Title || !!info2Title || !!info3Title">
        <div class="col-4">
          <h6 class="card-text text-center pb-1 mb-0 mt-1"
              style="overflow: hidden; font-size: 12px; white-space: nowrap; font-weight: normal;">{{info1Title}}</h6>
          <h5 class="card-title text-center pb-0 mb-2"
              style="height: 26px; overflow: hidden; font-weight: 600; font-size: 12px;">{{info1}}</h5>
        </div>
        <div class="col-4">
          <h6 class="card-text text-center pb-1 mb-0 mt-1"
              style="overflow: hidden; white-space: nowrap; font-weight: normal; font-size: 12px;">{{info2Title}}</h6>
          <h5 class="card-title text-center pb-0 mb-2"
              style="height: 26px; overflow: hidden; font-weight: 600; font-size: 12px;">{{info2}}</h5>
        </div>
        <div class="col-4">
          <h6 class="card-text text-center pb-1 mb-0 mt-1"
              style="overflow: hidden; white-space: nowrap; font-weight: normal; font-size: 12px;">{{info3Title}}</h6>
          <h5 class="card-title text-center pb-0 mb-2"
              style="height: 26px; overflow: hidden; font-weight: 600; font-size: 12px;">{{info3}}</h5>
        </div>
      </div>
      <a [href]="linkUrl" [class.mt-2]="!info1Title && !info2Title && !info3Title"
         class="btn btn-primary w-100">{{buttonText}}</a>
    </div>
    <hr class="mt-0 mb-1"
        *ngIf="showBottom">
    <div class="row mt-1"
         style="height: 34px;"
         *ngIf="showBottom">
      <div class="col-6">
        <a [href]="'profile/' + userUuid"
           class="d-table mr-auto pt-1 pl-2"
           style="white-space: nowrap;">
          <img [src]="profileUrl ? profileUrl : 'assets/user.svg'"
               class="img-thumbnail user-profile">
          <p class="d-inline-block ml-1 mb-1"
             style="font-size: 9px; font-weight: bold;"> {{username ? username : 'Anonymous'}} </p>
        </a>
      </div>
      <div class="col-6">
        <p class="d-table ml-auto pt-2 pr-2"
           style="font-size: 10px;color: gray; margin-top: 1px; white-space: nowrap;">{{subText}}</p>
      </div>
    </div>
    <app-version-status-bar [status]="status"
                            *ngIf="status"></app-version-status-bar>
  </div>
</div>