.upload-image {
    max-width: 100%;
    max-height: 100%;
}

.image-container {
    position: relative;
    display: inline-block;
    width: 100%;
}


.close-button {
position: absolute;
right:0px;
top: 0px;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.user-profile {
    border-radius: 200px;
    width: 18px;
    height: 18px;
    padding: 1px;
}

.header-title {
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    overflow: hidden;
    margin-bottom: 0;
}