<div class="bg-white p-4 pr-card-container"
     style="border-radius: 8px;">
  <div class="row">
    <div class="col-12 col-sm-6">
      <div class="w-100"
           style="height: 48px;">
        <div class="float-left">
          <img src="assets/user.svg"
               class="prboard-profile-img">
          <img src="assets/user.svg"
               class="prboard-profile-img-small prboard-profile-img-small-overlay">
        </div>
        <p class="text-secondary float-left ml-2 repo-text">prboard/super-cool-repo</p>
      </div>
      <h3 class="mt-2 mt-sm-4"><b>Add a super cool feature</b></h3>
      <img src="assets/github.png"
           class="git-source-image mt-3 float-left">
      <div class="float-left merge-box mt-3 ml-2 d-flex" style="overflow: hidden;
      max-width: 85%;">
        <p class="float-left mb-0 merge-text" style="white-space: nowrap;text-overflow: ellipsis;">master</p>
        <p class="float-left mx-2 mb-0 merge-arrow-wrapper"><fa-icon [icon]="leftArrow" class="merge-arrow"></fa-icon></p>
        <p class="float-left mb-0 merge-text" style="white-space: nowrap;text-overflow: ellipsis;">feature/super-cool-feature</p>
      </div>
    </div>
    <div class="col-12 col-sm-6">

    </div>
  </div>
</div>