<div class="bg-white p-4"
     style="border-radius: 8px; height: 216px;">
  <div class="row">
    <div class="col-12 col-sm-6">
      <div class="w-100"
           style="height: 48px;">
        <div class="float-left">
          <img src="assets/user.svg"
               class="prboard-profile-img">
          <img src="assets/user.svg"
               class="prboard-profile-img-small prboard-profile-img-small-overlay">
        </div>
        <p class="text-secondary float-left ml-2 repo-text">prboard/super-cool-repo</p>
      </div>
      <h3 class="mt-4"><b>Add a super cool feature</b></h3>
      <img src="assets/github.png"
           class="git-source-image mt-3 float-left">
      <div class="float-left merge-box mt-3 ml-2">
        <p class="float-left mb-0">master</p>
        <p class="float-left mx-2 mb-0"><fa-icon [icon]="leftArrow" style="font-size: 12px;"></fa-icon></p>
            <p class="float-left mb-0">feature/super-cool-feature</p>
      </div>
    </div>
    <div class="col-12 col-sm-6">

    </div>
  </div>
</div>