<div class="bg-white p-4 pr-card-container"
     style="border-radius: 8px;">
  <div class="row">
    <div class="col-12 col-md-6">
      <div class="w-100"
           style="height: 48px;">
        <div class="float-left">
          <img src="assets/user.svg"
               class="prboard-profile-img">
          <img src="assets/user.svg"
               class="prboard-profile-img-small prboard-profile-img-small-overlay">
        </div>
        <p class="text-secondary float-left ml-2 repo-text" style="max-width: 80%;">prboard/super-cool-repo</p>
      </div>
      <h3 class="mt-0 mt-sm-4"><b>Add a super cool feature</b></h3>
      <img src="assets/github.png"
           class="git-source-image mt-3 float-left mb-2">
      <div class="float-left merge-box mt-3 ml-2 d-flex"
           style="overflow: hidden;
      max-width: 80%;">
        <p class="float-left mb-0 merge-text"
           style="white-space: nowrap;text-overflow: ellipsis;">master</p>
        <p class="float-left mx-2 mb-0 merge-arrow-wrapper">
          <fa-icon [icon]="leftArrow"
                   class="merge-arrow"></fa-icon>
        </p>
        <p class="float-left mb-0 merge-text"
           style="white-space: nowrap;text-overflow: ellipsis;">feature/super-cool-feature</p>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="row mt-3">
        <div class="col-4">
          Created
        </div>
        <div class="col-8">
          <b>8 hours ago</b> by <b>michaelscott</b>
        </div>
      </div>

      <div class="row mt-2">
        <div class="col-4">
          Last Updated
        </div>
        <div class="col-8">
          <b>24 minutes ago</b> by <b>michaelscott</b>
        </div>
      </div>

      <div class="row mt-2">
        <div class="col-4">
          Status
        </div>
        <div class="col-8">
          Checks passed ✔️❌🟡
        </div>
      </div>

      <div class="row mt-2">
        <div class="col-4">
          Tags
        </div>
        <div class="col-8">
          <div class="tag mr-2 mb-2" style="background-color: #ffdb3f">
            <p class="mb-0">feature</p>
          </div>
          <div class="tag" style="background-color: #92c5ff;">
            <p class="mb-0">sprint-22</p>
          </div>
          <div class="tag" style="background-color: #92c5ff;">
            <p class="mb-0">sprint-22</p>
          </div>
          <div class="tag" style="background-color: #92c5ff;">
            <p class="mb-0">sprint-22</p>
          </div>
          <div class="tag" style="background-color: #92c5ff;">
            <p class="mb-0">sprint-22</p>
          </div>
          <div class="tag" style="background-color: #92c5ff;">
            <p class="mb-0">sprint-22</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>