<div class="pt-4 pt-md-4">
  <div class="card mobile-login">
    <div class="card-header text-center">
      <h2 class="mt-1">Reset Password</h2>
    </div>
    <form class="m-3">
      <div class="form-group" *ngIf="!newLinkRequired">
        <label for="password"
               class="required-star">
          <b>Password</b>
        </label>
        <input type="password"
               name="password"
               class="form-control"
               id="password"
               [(ngModel)]="editor.password">
      </div>
      <div class="form-group" *ngIf="!newLinkRequired">
        <label for="password"
               class="required-star">
          <b>Confirm Password</b>
        </label>
        <input type="password"
               name="password"
               class="form-control"
               id="password"
               [(ngModel)]="editor.passwordConfirm">
      </div>
      <div>
        <button type="button"
                *ngIf="!succeeded && !newLinkRequired"
                class="w-100 btn btn-primary"
                [disabled]="loading"
                (click)="submit()">Reset</button>
        <button type="button"
                *ngIf="newLinkRequired"
                class="w-100 btn btn-primary"
                [disabled]="loading"
                (click)="routeForgottenPassword()">Back To Forgotten Password</button>
      </div>
      <app-loading-spinner *ngIf="loading"></app-loading-spinner>
      <div *ngIf="!validationResult?.valid && !loading && failed"
           class="alert alert-danger mt-2"
           role="alert">
        <app-validation-summary [errors]="validationResult?.errors"> </app-validation-summary>
      </div>
      <div *ngIf="succeeded && !loading"
           class="alert alert-success mt-2"
           role="alert">
        Password successfully reset.
      </div>
    </form>
  </div>
</div>